name: ci

on:
  push:
    branches: main

jobs:
  slim:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image
        uses: docker/build-push-action@v4
        with:
          push: false
          tags: ${{ github.repository }}:latest

      - name: Verify Docker Image
        run: docker images

      - name: Slim the Docker Image
        uses: kitabisa/docker-slim-action@v1
        env:
          DSLIM_LOG_LEVEL: debug
          DSLIM_HTTP_PROBE: false
        with:
          target: ${{ github.repository }}:latest
          tag: "slim"

      - name: Push Slimmed Docker Image
        run: docker image push "${{ github.repository }}:slim"
