name: ci

on:
  push:
    branches: main

jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.ACTOR }}
          password: ${{ github.TOKEN }}

              # Build the Docker image first
      - uses: docker/build-push-action@v4
        with:
          push: false
          tags: ${{ github.repository }}:latest

      - name: Download Docker Slim tool
        run: |
          curl -L -o ds.tar.gz https://github.com/slimtoolkit/slim/releases/download/1.40.11/dist_linux.tar.gz
          tar -xvf ds.tar.gz
          chmod +x dist_linux/docker-slim
      - name: Optimize Docker image 
        run: ./dist_linux/docker-slim build --tag ghcr.io/${{ github.repository_owner }}/my-image:slim # Step 5: tag the slimed image
      - name: tag slimed
        run: docker tag ghcr.io/${{ github.repository_owner }}/my-image:latest ghcr.io/${{ github.repository_owner }}/my-image:slim


                # Push to the registry
      - run: docker image push "${{ github.repository }}" --all-tags
